<div class="row">
  <div class="col-sm-5">
    <div class="form-group">
      <label for="ingredientName">Ingredient</label>
      <input type="text" class="form-control" name="ingredientName" id="ingredientName" ngModel>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="form-group">
      <label for="ingredientAmount">Amount</label>
      <input type="number" class="form-control" name="ingredientAmount" id="ingredientAmount" ngModel>
    </div>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary" style="margin-top: 24px;">+</button>
  </div>
</div>
