<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" ngModel required>
          <p class="small">The name is required</p>
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control" ngModel required pattern="^[0-9]+[0-9]*$">
          <p class="small">The amount is required</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-group">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            {{ editMode ? 'Update' : 'Add' }}
          </button>
          <button 
            class="btn btn-danger" 
            type="button" 
            (click)="onDelete()"
            *ngIf="editMode"
          >Delete</button>
          <button class="btn btn-primary" type="reset" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
